body{
    background-color:black;
}

.skip-link{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(169,169,169,0.519);
    border-radius: 30px;
    width: 50px;
    padding: 10px;
    margin: 20px;
    position: absolute;
    left: -10000px;
    top: auto;
    font-family: monospace;
    height: 3px;
    overflow: hidden;
}

.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
}

#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 20px 20px 20px;
    padding: auto;
    color: white;
    font-family: monospace;
    text-align:center;
}

.active{
    border: 1px solid springgreen;
    border-radius: 30px;
    width:fit-content;
    text-align:center;
    margin:auto;
}

.link-1:hover, .link-1:active{
    color: springgreen;

}

.link-1{
    background-color: rgba(169, 169, 169, 0.519);
    border-radius: 30px;
    width: 75px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}


.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 15px;
}

.item1{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
}

.item2{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    padding: 5px;
    border-radius: 30px;
}





h1{
    background-color:rgba(255, 255, 255, 0);
    padding: 10px;
    margin: 40px 0px 50px 0px;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    font-family:monospace;
    color: springgreen;
}
h2{
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 60px;
    font-size: 15px;
    background-color: springgreen;
    font-family:monospace;
    color:black;
}
.content-images{
    margin: auto;
    width: 100%;
    padding: 60px;
    display:flex;
    justify-content: center;
}

.three-images{
    margin: auto;
    width: 60%;
    padding: 30px;
    display:list-item;
    justify-content: center;
}


h3{
    text-align: center;
    font-size: 15px;
    width:80%;
    font-family:monospace;
    color:white;
    padding:50px 10px 10px 10px;
    margin: 0 auto;
}


h4{
    text-align: center;
    font-size: 20px;
    width:80%;
    font-family:monospace;
    color:white;
    padding:60px;
    margin: 0 auto;
}
dl{
    text-align: center;
    font-size: 12px;
    width:auto;
    font-family:monospace;
    color:white;
    padding:30px;
    margin: 60px;
}


p{
    text-align: center;
    font-size: 12px;
    font-family:monospace;
    color:white;
    padding:5px;
    margin: 5px;
}
.styled-box {
    border: 5px solid blue;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}




